{% extends 'base.html' %}
{% block title %}Register Account{% endblock %}
{% block body %}
    <div class="row mt-3">
        <div class="col-6 mx-auto">
            <form class="card" method="post">
                <div class="card-body">
                    <h2 class="card-title">Register Account</h2>
                    <br>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Email" class="form-control">
                    </div>
                    <br>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password" class="form-control">
                    </div>
                    <br>
                    <div class="text-center">
                        <input type="submit" value="Make Account" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}